.container3{
  background: linear-gradient(105deg, #8441aef5, #63d72e, #ae58a898);
  padding: 5px 5px;
  margin: 10px 10px;
  border-radius: 5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: medium;
}
.container3:hover{
    transform: scale(1.01);
  transition: 0.2s;
  cursor: grab;
}