.main-container2{
   width: 320px;
   margin: 15px;
   padding: 25px;
   border-radius: 5px;
  background: linear-gradient(105deg, #cb5858f5, #5a74d3, #cc1b1b98);
  border-radius: 1.2rem;
  box-shadow: 0px 1rem 1.5rem -0.9rem #000000e1;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
}
.main-container2:hover{
    transform:scale(1.03);
    cursor: crosshair;
    transition: 0.4s;
}
.container2 h2{
    color: rgb(167, 210, 195);
}
.container2 h3{
    color: beige;
    
    
}
.container2 p{
    color: beige;
}